@import "mocha.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

tooltip {
  color: @text;
  background-color: @base;
  text-shadow: none;
}

tooltip * {
  color: @text;
  text-shadow: none;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: @crust;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 5px;
}

#custom-music,
#tray,
#custom-backlight,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#custom-lock,
#disk,
#custom-power {
  background-color: @crust;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#network {
  background-color: @crust;
  padding: 0.5rem 0rem 0.5rem 1rem;
  margin: 5px 0;
}

#custom-ping {
  background-color: @crust;
  padding: 0.5rem 1rem 0.5rem 0rem;
  margin: 5px 0;
}

#custom-ping.good {
  color: @green;
}

#custom-ping.medium {
  color: @peach;
}

#custom-ping.bad {
  color: @red;
}

#custom-ping.dead {
  color: @red;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

/* middle part */
#clock {
  color: @text;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 1rem;
}

#custom-weather {
  border-radius: 5px;
  margin-right: 1rem;
}

#custom-weather2 {
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-backlight {
  color: @yellow;
  border-radius: 0;
}

#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
  background-color: @crust;
  color: @green;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  margin-left: 1rem; /* Spacing from the left */
  border-radius: 5px;
}